@import url('https://fonts.googleapis.com/css2?family=Poppins:ital&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    
}
body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* navbar section */

.navbar{
    height:100%;
    width: 20%;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0%;
    background-color:cadetblue;
    position: fixed;
}

img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 50px;  
}
.navbar ul,li,span,i{
    margin: 4%;
    list-style: none;
    color: #fff;
    font-weight: bold;
}
.navbar h4{
    font-size: 20px;
    margin: 10%;
    color:rgba(0, 0, 0, 0.918);
}
.navbar ul,i:hover{
    color: #275b9e;

}
.navbar span:hover{
    color: #275b9e;

}
.social-icon{
    margin-top: 20%;
    margin-left: 5%;
}
.social-icon i{
    color:rgb(0, 0, 3);
    font-size: xx-large;
    margin: 5%;
}
.social-icon i:hover{
    color: white;
}
/* front section */
.container7{
    width: 80%;
    height: 100%;
    margin-left: 20%;
    background-color: #2e2d2d;
    display: flex;
    color: #fff;
}

.titlediv{
    position: relative;
    width: 40%;
    margin: 5%;
    margin-top: 10%;
    color: #fff;
    
}
.titlediv p{
    margin-top: 5px;
    text-align: justify;
}
.imgdiv{
    position: relative;
    margin-top: 5%;
    
}
.imgdiv img{
    border-radius: 0%;
    background-size: cover;
    height: 80vh;
    width: 76vh;
    

}

.address{
    margin-top: 5%;
    border-left: 5px solid white;
    background-color: rgba(39, 32, 32, 0.651);
    opacity: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.address p{
    
    margin-left: 10px;

}
.button{
    margin-top: 20%;
    margin-bottom: 10%;
    display: flex;
    text-align: center;
    width: 100%;
    
}
#btn1{
border: 1px solid whitesmoke;
width: 50%;
text-align:center;
padding-top: 5px;
height: 30px;
border-radius: 5px;
background-color: #3665f0ff;    
}
#btn2{
padding-top: 5px;
border: 1px solid whitesmoke;
width: 50%;
text-align:center ;
height: 30px;
margin-left: 20px;
border-radius: 5px;
}

/* myself section */
.container6{
    width: 80%;
    height: 100%;
    margin-left: 20%;
    background-color: black;
    display: block;
    color: #fff;
}
.topdiv{
    width: 99%;
    height: 60%;
    display: flex;
}
.leftdiv{
    width: 38%;
    height: 100%;
    margin: 4%;
}

.leftdiv p{
    margin: 5%;
    font-size: xx-large;
    color: rgb(148, 231, 195);
}
.leftdiv div{
    margin: 7%;
    margin-top: 10%;
    font-size: x-large;
    height: 40px;
    width: 180px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #313949;
    text-align: center;
}
.rightdiv{
    width: 58%;
    height: 100%;
    margin: 4%; 
}
.div3{
    justify-items: center;
}
.div3 h1{
    margin-top: 50px;
}

.bottomdiv{
    display: flex;
    
}
.div3{
    width: 220px;
    height: 180px;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 9%;
    margin-bottom: 10%;
    
    background-color: #578BF0;
}
table{
    
    width: 100%;
    height: 50px;
    text-align: left;
    margin-top: 10%;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    
}
.table th{
    border-bottom: 1px solid #ddd;
    text-align: left;
    
} 
.table tr{
    height: 40px  
} 
.table td{
    font-size: 13px;  
}

/* Professional Experience section */
.container5{
    width: 80%;
    height: 100%;
    margin-left: 20%;
    background-color: #2e2d2d;
    display: block;
    color: #fff;
    padding-bottom: 10px;
    padding-top: 20px; 
}
.titledivs>p{
    margin-left: 5%;
}
.bodydiv1{
    height: 100%;
    display: flex;
    margin: 4%;
}
.overview{
    display: flex;
    margin-left: 12%;
    width: 30%;
    height: 350px;
    border: 1px solid white
    
}
.overview{
    display: block;
}
.overview p,h4,h2{
    margin: 7%;
}

.overview h4{
    color: rgb(148, 231, 195);
    
}
/* My Services section start */
.container4{
    width: 80%;
    height: 100%;
    margin-left: 20%;
    background-color: black;
    display: block;
    color: #fff;
    padding-bottom: 10px;
}
.serviceheader p{
   
    margin-left: 5%;
    padding-top: 10px;   
}

.servicebody{
    width: 99%;
    height: 100%;
    display: flex; 
}
.servicecard{
    width: 28%;
    height: 340px;
    margin: 3%;
    margin-left: 5%;
    border: 1px solid white;
}

.card{
    margin: 5%;
    width: 95%;
    height: 83%;
    text-align: left;
}
.card p{
    margin: 6%;
}
.card h1{
    font-size: x-large;

}

/*  Projects Showcase start */
.container3{
    width: 80%;
    height: 100%;
    margin-left: 20%;
    background-color: #2e2d2d;
    display: block;
    color: #fff;
    padding-bottom: 100px;
}
.thirdtitle{
    width: 80%;
    height: 20%;
    border: 1px solid #2e2d2d;
}
.thirdtitle p,h1{
    margin-left: 5%;
    margin-top: 3%;  
}
.fifthbody{
    width: 99%;
    height: 80%;
    display: flex;
    font-size: large;
}
.projectcard{
    width: 28%;
    height: 300px;
    margin: 2%;
    margin-left: 5%;
}
.divimg{
    height: 100%;
    width: 100%;
    background-image: url("../portfolio/img/card.jpeg");
    border: 1px solid white;
}
.projectcard>p{
    margin-top: 7px;
    font-weight: bolder;   
}

/* contact section  start*/

.container1{
    width: 80%;
    height: 100%;
    margin-left: 20%;
    background-color: #2e2d2d;
    display: flex;
    color: #fff;
    
}
.contactdiv{
    width: 50%;
    height: 100%;
    margin: 5%;
   
}
.contactdiv p{
    margin-top: 15px;
    text-align: justify;

}
.contactdiv h1{
    margin-left: 0%;

}

.location{
    margin-top: 50px;
}
.location p,i{
    margin-top: 0px;
}

.emaildiv{
    width: 50%;
    height: 100%;
    margin: 3%;   
}
form{ 
    height: 100%;
    display: block; 
}
form input{
    width: 100%;
    margin-top : 3%;
    height: 50px;
    border: 1px solid wheat;
    background-color: #2e2d2d;
    border-radius: 5px;
    text-align: left;
    color: #fff;    
}
form textarea{
    width: 100%;
    margin-top : 3%;
    height: 100px;
    border: 1px solid wheat;
    border-radius: 5px;
    background-color: #2e2d2d;
    color: #fff;
}
#submit{
    width: 40%;
    border-radius: 5px;
    text-align: center;
    background-color: #3665f0ff;
}
#submit:hover{
    background-color: rgb(12, 199, 152);
}
/* contact section end*/
/* review section start*/
.container2{
    width: 80%;
    height: 100%;
    margin-left: 20%;
    background-color: black;
    color: #fff;
    justify-items: center;
    padding-bottom: 100px;
    display: block;   
}

.reviewtitle{
    border: 1px solid black;
    width: 50%;
    height: 20%;
    text-align: center;
    justify-items: center;   
} 
.reviewtitle p{
    margin-top: 5%;
    
}
.comment{
    width: 60%;
    height: 60%;
    margin-top: 5%;
}
.client{
    display: flex;
    
}
.client h5{
    margin: 20px;
}
.client img{
    display: flex;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 0%;
}
/* review section end*/
/* footer section start */
.container0{
    width: 80%;
    height: 100%;
    margin-left: 20%;
    background-color: black;
    color: #fff;
    justify-items: center;
    padding-bottom: 100px;
    padding: 20px 0;
    text-align: center;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;

}

.footer-container div {
    margin: 10px;
}

.footer h3 {
    margin-bottom: 10px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
    width: 100%;
}

.footer-bottom p {
    margin: 5px 0;
}
a{
    color: #fff;
}

/* footer section end */

/* media Quary */
@media (max-width: 800px) {
    .navbar{
        width: 18%;
    }
    .container7{
        width: 82%;
        margin-left: 18%;
    }.titlediv{
        font-size: 10px;
        
    }
    .imgdiv img{
        height: 70vh;
        width: 50vh;
        
    }
    .container6{
        width: 82%;
        margin-left: 18%;
        
    }
    .leftdiv{
        width: 35%;
    }
    .leftdiv p{
        font-size: large;
        
    }
    .leftdiv div{
        font-size: 15px;
        height: 30px;
        width: 100px; 
    }
    .rightdiv{
        margin-left: 0%;
        width: 65%;
        margin-left: 0%
    }
    .leftdiv h1{
        font-size: medium;
    }
    .rightdiv p{
        font-size: 15px;
        text-align: justify;

    }
    .div3 h1{
        margin-top: 17px;
    }
    .div3 p{
        font-size: 13px;
    }
    .div3{
        width: 150px;
        height: 120px;
        margin-left: 6%;
        
    }
    .table th{
        font-size: 10px;
    }  
    .table td{
        font-size: 10px;  
    }
    
    /* Professional Experience section */
    .container5{
        width: 82%;
        margin-left: 18%; 
    }
    .titledivs{
        font-size: 15px;
    }
    .overview{
        display: flex;
        margin-left: 12%;
        width: 30%;
        height: 250px; 
    }
    .overview{
        display: block;
    }
    .overview p,h2{
        margin: 7%;
        font-size: 12px;
    }
    
    .overview h4{
        color: rgb(148, 231, 195);
        margin: 7%;
        font-size: 13px;
    }
    /* My Services section start */
    .container4{
        width: 82%;
        margin-left: 18%;
        padding-bottom: 10px;
    }
    .serviceheader p{
        margin-left: 5%;
        padding-top: 15px;   
    }
    .servicecard{
        width: 25%;
        height: 300px;
        margin: 3%;
    }
    
    .card{
        margin: 5%;
        width: 95%;
        height: 83%;
        text-align: left;
    }
    .card p{
        margin: 7%;
    }
    .card h1{
        font-size: large;
    }
    

    
    


}