.headsection{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    margin: 0%;
}
.navbar{
    height:100%;
    width: 25%;
    margin-left: 0px;
    margin-bottom: 0px;
    background-color:cadetblue;
    position: relative;
  

}

img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 50px;
    
}
.herosection{
    width: 75%;
    position: relative;
    background-color: #fff;
    margin-top: 0%;
    margin-right: 0%;

 
}
.firstdiv{
    display: flex;
    
    
}
.titlediv{
    position: relative;
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
    
}
.imgdiv{
    position: relative;
    width: 60%;
    height: 100%;
    margin-top: 5%;
    margin-right: 0%;
}
.imgdiv img{
    border-radius: 0%;
    background-size: cover;
    height: 100%;
    width: 70%;
}
